@using NewZapures_V2.Models;
@{
    Layout = "";
    var servicesCollectiondata = (UserModelSession)Session["UserDetails"];

    var servicesCollection = (Data)Session["UserAllDetails"];
    var userdetails = (UserModelSession)Session["UserDetails"];
    var BaseURL = System.Configuration.ConfigurationManager.AppSettings["BaseUrl"];
    var profileImage = BaseURL + userdetails.profileImage;

    var userName = userdetails.Username.Substring(0, 1);

    var NotificationOpRequest = new NotificationOperationRequest { PartyId = userdetails.PartyId, RowID = 0, Type = "View" };

    var notificationData = (List<NotificationOperationData>)ZapurseCommonlist.NotificationOperation(NotificationOpRequest);
    var notificationNumber = notificationData.Count();
    var i = 1;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>NOC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/NOCIMAGE.png">
    @Styles.Render("~/Content/css")
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
    @*<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.min.css" rel="stylesheet" type="text/css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="~/Content/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/loader.css" rel="stylesheet" />

    <link href="~/Content/NocCustomCss/StyleNoc.css" rel="stylesheet" />

    @*@RenderSection("styles", false)*@
    <style type="text/css">
        .colordiv {
            color: red;
            text-align: left;
        }

        .notificationNumber {
            position: relative;
            top: -14px;
            font-size: 13px;
            padding: 0px 7px;
            background: red;
            text-align: center;
            color: white;
            border-radius: 50%;
            left: -14px;
            font-family: cursive;
            font-weight: 800;
        }

        .CartItemCount {
            position: relative;
            top: -14px;
            font-size: 13px;
            padding: 0px 7px;
            background: red;
            text-align: center;
            color: white;
            border-radius: 50%;
            left: -14px;
            font-family: cursive;
            font-weight: 800;
        }

        #divUsernamInitials {
            height: 35px;
            width: 35px;
            margin-right: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 20px;
            background: linear-gradient(135deg, #478bb8 0%, #9cb347 100%);
        }

        .enlarge-menu .topbar .navbar-custom {
            margin-left: 70px !important;
        }
    </style>
    <style>
        .welcm-txt h2 {
            color: #0000ff;
        }

        .welcm-txt {
            border-bottom: 16px solid blue;
            margin-bottom: 20px;
        }

        span.red {
            color: #ef0808 !important;
        }

        .sub-form {
            border: 2px solid #615f5f;
            padding: 20px 10px;
        }

        .sub-inrhead h5 {
            color: #ef0b0b;
            font-weight: 500;
            font-size: 17px;
        }

        .left-subfrm input, .rght-subfrm input {
            border: none;
            padding: 5px 16px;
            margin: 0px 5px;
            background: #6079df;
            color: #fff;
            margin: 10px 0px;
        }

        input.green {
            background: #0cc60c !important;
        }

        input.red {
            background: #ef0808 !important;
        }

        .inner-form {
            border-bottom: 2px solid #797777;
            padding-bottom: 20px;
        }

        .disclmr {
            margin: 10px 0px;
            border-top: 2px solid #797777;
            padding: 10px 0px;
            border-bottom: 2px solid #797777;
        }

        .verify-box {
            padding-top: 20px;
        }

        .two-servctxt span {
            display: block;
            margin: 5px 0px;
            font-weight: 600;
        }

        span.upld-doc {
            color: #0e12d1;
            font-weight: 500;
            font-size: 18px;
        }

        .disclmr h4 {
            font-size: 16px;
            color: red;
        }

        .contn-btn input {
            border: none;
            padding: 7px 35px;
            background: #248a0c;
            color: #fff;
            border-radius: 4px;
        }

        .documentImageContainer {
            width: auto;
            height: 150px;
            border-radius: 20px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        @@media only screen and (max-width:576px) {
            .table {
                font-size: 12px;
            }
        }

        .imgside {
            margin-left: 2rem;
            margin-top: -2rem;
            height: 70%;
        }

        .trstverifybox {
            display: flex;
            flex-direction: column;
            place-content: center;
            height: 100%;
        }

        .noc-welcome-layout-posi .sub-form {
            max-width: 100%;
        }
    </style>
</head>

<body style="overflow: visible !important;">

    <!-- Top Bar Start -->
    <div class="topbar">


        <!-- Navbar -->
        <nav class="navbar-custom" style="margin-left:0px !important;">
            <div class="d-flex align-items-center justify-content-between">
                <a href="#" class="logo logo-metrica" style="display:inline-block; margin:10px;">
                    <span>
                        <img src="~/images/NOCIMAGE.png" alt="logo-small" class="logo-sm" style="width:50px;">
                    </span>
                </a>

                <div>
                    <h4 style="font-size:22px; font-weight:600;">Unified NOC Management System (UNMS)</h4>
                </div>

                <ul class="list-unstyled topbar-nav float-right mb-0">

                    @*<Cart Code>*@
                    <li class="dropdown d-none">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" id="linkCartIcon">
                            <i class="mdi mdi-cart" style="font-size:25px"></i> <span class="CartItemCount" style="display:none" id="CartItemCount"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="min-width: 35rem !important;padding:5px">
                            <div class="row col-12" id="divCartItems">
                                <p>No Item Available</p>
                            </div>
                        </div>
                    </li>
                    @*<Notification Icon Code>*@
                    <li class="dropdown d-none">
                        @{
                            if (notificationNumber <= 0)
                            {
                                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-bell-ring" style="font-size:25px"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" style="min-width: 35rem !important;padding:25px">
                                    <div class="row col-12" id="divnotificationMsg">
                                        <p>No New Notification</p>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-bell-ring" style="font-size:25px"></i> <span class="notificationNumber" id="notificationCount">@notificationNumber</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" style="min-width: 35rem !important;padding:15px">
                                    @foreach (var item in notificationData)
                                    {


                                        <div class="row" id="divnotificationMsg" style="display: flex;place-content: center;justify-content: center;align-items: center;">
                                            <span style="padding: 8px;color: black;font-size: 16px;border-radius: 50%;font-family: 'Poppins';font-weight: 600;">@i .</span>
                                            <div class="col-lg-8">
                                                @{
                                                    if (item.IsRead == 0)
                                                    {

                                                        <p style="display: inline-block;width: 360px;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;margin-top: 19px;font-weight:700">@item.Message</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="display: inline-block;width: 360px;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;margin-top: 19px;">@item.Message</p>
                                                    }
                                                }

                                            </div>
                                            <div class="col-lg-3">
                                                <button href="#" class="btn btn-outline-primary" style="font-size: 12px;" onclick="ReadNotification('@item.NotificationUserListID','MarkasRead')">Mark as Read</button>
                                            </div>


                                        </div>

                                        i++;

                                    }
                                </div>
                            }
                        }

                    </li>


                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" style="display: flex; justify-content: center; align-items: center;" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">

                            @{
                                if (!string.IsNullOrEmpty(userdetails.profileImage))
                                {
                                    <img src="@profileImage" alt="profile-user" class="rounded-circle" />
                                }
                                else
                                {
                                    <div class="rounded-circle" id="divUsernamInitials"></div>
                                }
                            }<span class="ml-1 nav-user-name hidden-sm">
                                @(userdetails != null && userdetails.Username!=""? userdetails.Username  : "Amelia") <i class="mdi mdi-chevron-down"></i>

                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!---  <a class="dropdown-item" href="@Url.Action("MyProfile","Home")"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
                            <a class="dropdown-item" href="@Url.Action("ProfileView","Home",new {Id= userdetails.PartyId,status=0})"><i class="fas fa-user-secret text-muted mr-2"></i> Profile View</a>

                            <a class="dropdown-item" href="@Url.Action("Setting","Admin")"><i class="dripicons-gear text-muted mr-2"></i> Settings</a>
                            <a class="dropdown-item" href="@Url.Action("Addpartner", "Role")"><i class="fas fa-user-plus text-muted mr-2"></i>Add Partner</a>
                            <a class="dropdown-item" href=""><i class="dripicons-lock text-muted mr-2"></i>Legal and Policies</a>
                            <a class="dropdown-item" href="#"><i class="fab fa-forumbee text-muted mr-2"></i>DashBoard</a>

                            <a class="dropdown-item" href="@Url.Action("NotificationList", "Role")"><i class="mdi mdi-bell-ring text-muted mr-2"></i>Notification History</a>
                            <div class="dropdown-divider"></div>---->
                            <a class="dropdown-item" href="#" id="btnLogout" style="vertical-align:text-top;">
                                <i class="dripicons-exit text-muted mr-2" style=""></i> Logout
                            </a>
                        </div>
                    </li>

                </ul><!--end topbar-nav-->

                <ul class="list-unstyled topbar-nav mb-0 d-none">
                    <li>
                        <a href="#">
                            <span class="responsive-logo">
                                <img src="~/images/logo-dark.png" alt="logo-small" class="logo-sm align-self-center" style="width: 40px;height: 35px;">
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->

    <div class="page-wrapper" style="min-height:inherit !important;">
        <!-- Page Content-->
        <div class="page-content-tab noc-welcome-layout" style="">
            <!-- main container -->



            <div class="login-page-front">
                <div class="login-page-posi">
                    <div class="container">
                        <div class="user-existin">
                            <div class="noc-layouts m-0 d-flex align-items-center row" style="padding: 20px;min-height:500px;">
                                <div class="user-existin-img col-md-7">
                                    <img src="~/images/welcome-img.jpg" />
                                </div>
                                <div class="user-existin-content col-md-5">
                                    <div style="width:50px;height:50px; margin:0px auto;">
                                        <img src="~/images/NOCIMAGE.png" alt="logo-small" style="width:90%; height:100%; object-fit:cover;" class="logo-sm">
                                    </div>
                                    <h4 style="text-align:center;font-size:18px;line-height:26px; font-weight:600;">Unified NOC Management System (UNMS)
                                    <br />Select Your User Type</h4>
                                    <div class="">
                                        <div class="form-group col-lg-12">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="customRadio6" value="ExistingUser" name="Usertype" class="custom-control-input">
                                                        <label class="custom-control-label noc-form-label" for="customRadio6"><b>Existing User</b></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="customRadio7" value="NewUser" name="Usertype" class="custom-control-input" disabled>
                                                        <label class="custom-control-label noc-form-label" name="NewUser" for="customRadio7"><b>New User</b></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 form-group" id="exisuser">
                                                    <label for="example-text-input" class="noc-form-label"><b>Enter Your Registration Number</b></label>
                                                    <div class="">
                                                        <input class="form-control noc-input-text" type="text" autocomplete="off" id="RegistationNo" name="RegistationNo" placeholder="Enter Your Valid Registration Number">
                                                    </div>
                                                    <div class=" w-100 float-left text-center mt-4" style="display:none">
                                                        <a data-toggle="modal" data-target="#exampleModalCenter" class="theme-button-mockup" style="width:110px; margin:0 auto;" id="OTPpopup">Next</a>
                                                    </div>
                                                    <div class="form-group col-lg-12 trstverifybox ">
                                                        <a id="" class="apply theme-button-mockup" onclick="Next()" style="width:110px; margin:0 auto;">Next</a>

                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-12" id="NewUser">
                                                    <label for="example-text-input" class="col-sm-12 noc-form-label" style="margin-left:-10px;margin-top:10px"><b>Select legal entity</b></label>

                                                    <div class="row">
                                                        <div class="col-md-6 form-group">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio1" value="Socity" name="TrustType" class="custom-control-input">
                                                                <label class="custom-control-label noc-form-label" for="customRadio1">Socity</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio2" value="Trust" name="TrustType" class="custom-control-input">
                                                                <label class="custom-control-label noc-form-label" for="customRadio2">Trust</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio3" value="Company" name="TrustType" class="custom-control-input">
                                                                <label class="custom-control-label noc-form-label" for="customRadio3">Company</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio4" value="Other" name="TrustType" class="custom-control-input">
                                                                <label class="custom-control-label noc-form-label" for="customRadio4">Other</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-12 trstverifybox ">
                                                            <a id="" class="apply theme-button-mockup" onclick="Next()" style="width:110px; margin:0 auto;">Next</a>

                                                        </div>
                                                    </div>

                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>



        <!--footer-->
        <footer class="footer text-center" style="background:#fff; color:rgba(0,0,0,.5);padding:15px;">
            <!--- &copy; 2022 - 2023 NOC <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by </span>--->
            Copyright &copy; 2022 - 2023 UNOC. All rights reserved. <span class="text-muted d-none  float-right"> </span>
        </footer>
        <!--end footer-->
        <!--OTP Modal -->

        <div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    @*<div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>*@
                    <div class="modal-body">
                        <div class="user-front-modal">
                            <h4>Please Enter the OTP to Verify your Account</h4>
                            <div class="my-3"><b id="OtpText"></b></div>
                            <div class="user-front-input form-group">
                                <input type="text" class="form-control noc-input-text" autocomplete="off" placeholder="Please enter valid OTP" id="OTP" maxlength="4" required />
                                <label for="error" class="col-sm-12" id="errorotp" style="display:none;"></label>
                                <a href="javascript:void(0)" onclick="Next()">Resend OTP</a>
                            </div>

                            <button type="button" class="theme-button-mockup" style="width:150px;" onclick="VerifyOTP()"><i class="fas fa-save"></i> Save</button>
                            @*<button type="button" class="theme-button-mockup" style="width:150px;" onclick="VerifyOTP()"><i class="fas fa-user-check"></i> Verify</button>*@
                        </div>
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="theme-button-mockup">Save</button>
                        </div>*@
                </div>
            </div>
        </div>
        <!--end OTP Modal -->




    </div>
    <!-- end page content -->
    @*</div>*@
    <!-- end page-wrapper -->

    <script src="~/Content/AdminLTE File/plugins/jquery/jquery.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <script src="~/Content/DashboardCss/AdminLTE2/plugins/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>*@
    <link href="~/Content/DashboardCss/AdminLTE2/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Content/DashboardCss/AdminLTE2/plugins/sweetalert2/sweetalert2.min.js"></script>>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>*@
    <script src="~/Content/globalDomain.js"></script>
    <script type="text/javascript">
        $("#NewUser").hide();
        $("#exisuser").hide();
        $(document).ready(function () {
            $("input[id='customRadio6']").click(function () {
                $("#exisuser").show();
                $("#NewUser").hide();
                $("#RegistationNo").focus();
            });
            $("input[id='customRadio7']").click(function () {
                $("#NewUser").show();
                $("#exisuser").hide();
            });
            $("#RegistationNo").change(function () {
                Verify();
            });
        });

    </script>


    <script type="text/javascript">
        var globaUserProperties = new Object();

        var base_url = window.location;
        globaUserProperties.domain = base_url.origin// + "/" + window.location.pathname.split('/')[1];  // Stagging where we have domain in front of URL
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
        function confirmLoader() {
            $("#progressModel").modal('show');
        };
        function Next() {
            var UserType = $('input[name="Usertype"]:checked').val();
            if (UserType == 'ExistingUser') {

                var RegistrationNo = $("#RegistationNo").val();
                var modal1 = {
                    RegNo: RegistrationNo,
                }
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: GetglobalDomain() + "/Dashboard/SendReqeustOTP",
                    dataType: 'json',
                    type: 'Get',
                    cache: false,
                    data: { RegNo: RegistrationNo },
                    success: function (data) {
                        if (data.Success) {
                            /*Swal.fire(data.Message, '', 'success')*/

                            $('#exampleModalCenter').modal('show');
                            var total = data.Message;
                            var arr = total.split('to');
                            let intLetters = arr[1].replace(/[^0-9]/g, '');
                            var threedigits = intLetters.substr(0, 3);
                            let enddigits = intLetters.slice(-3)
                            var newString = threedigits + "****" + enddigits
                            $('#OtpText').html(arr[0] + newString);
                        }
                        else {
                            $('#exampleModalCenter').modal('show');
                            //$('#continue').css("display", "none");
                            //$('#btnCapitalAdd').css("display","block");
                        }
                    },
                    error: function (d) {
                        console.log(d);
                        //$('#continue').css("display", "none");
                        //$('#btnCapitalAdd').css("display", "block");
                    }
                });


            }
            else if (UserType == 'NewUser') {
                var url = GetglobalDomain() + "/OtherTrust/TrustDetails"//
                window.location.href = url;
            }
        }

        function ResendOTP() {
            var RegistrationNo = $("#RegistationNo").val();
            var modal1 = {
                RegNo: RegistrationNo,
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/Dashboard/SendReqeustOTP",
                dataType: 'json',
                type: 'Get',
                cache: false,
                data: { RegNo: RegistrationNo },
                success: function (data) {
                    if (data.Success) {
                        /*Swal.fire(data.Message, '', 'success')*/
                        sweetAlert("title", "message sent Successfully", "error");
                        //$('#exampleModalCenter').modal('show');
                        $('#OtpText').html(data.Message);

                    }
                    else {
                        //$('#exampleModalCenter').modal('show');
                        //$('#continue').css("display", "none");
                        //$('#btnCapitalAdd').css("display","block");
                    }
                },
                error: function (d) {
                    console.log(d);
                    //$('#continue').css("display", "none");
                    //$('#btnCapitalAdd').css("display", "block");
                }
            });
        }

        function VerifyOTP() {
            var OTP = $("#OTP").val();
            var RegistrationNo = $("#RegistationNo").val();
            var modal1 = {
                OTP: OTP,
                RegistrationNo: RegistrationNo,
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/Dashboard/VerifyOTP",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(modal1),
                success: function (data) {
                    debugger
                    if (data.Success) {
                        /*Swal.fire(data.Message, '', 'success')*/
                        Verify();
                        Countinue();
                    }
                    else {
                        $('label[for="error"]').show();
                        errorotp.textContent = "Please Enter Correct OTP";
                        $('#errorotp').addClass('colordiv');
                        //sweetAlert("title", "description", "error");
                        /*Swal.fire(data.Message, '', 'info')*/
                        //$('#continue').css("display", "none");
                        //$('#btnCapitalAdd').css("display","block");
                    }
                },
                error: function (d) {
                    console.log(d);
                    //$('#continue').css("display", "none");
                    //$('#btnCapitalAdd').css("display", "block");
                }
            });
        }

        function Verify() {
            var RegistrationNo = $("#RegistationNo").val();
            var modal1 = {
                RegistrationNo: RegistrationNo,
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/Dashboard/TrustVerification",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(modal1),
                success: function (data) {
                    if (data.Success) {
                        /*Swal.fire(data.Message, '', 'success')*/

                        if (data.res != null) {
                            $('#spnTrustReg').html('');
                            $('#spnName').html('');
                            $('#spnBRN').html('');
                            $('#spnDate').html('');
                            $('#spnDistrict').html('');

                            $('#spnAct').html('');
                            $('#spnType').html('');
                            $('#spnStatus').html('');

                            $('#txtTrustReg').val(data.res.RegistrationNo);
                            $('#spnTrustReg').html(data.res.RegistrationNo);
                            $('#spnName').html(data.res.SocietyName);
                            $('#spnBRN').html(data.res.BRN);
                            $('#spnDate').html(data.res.RegistrationDate);
                            $('#spnDistrict').html(data.res.District);

                            $('#spnAct').html(data.res.Act);
                            $('#spnType').html(data.res.Type);
                            $('#spnStatus').html(data.res.Status);
                            $('#divtrustdetails').show();
                            //$('#continue').css("display", "block");
                            $('#btnCapitalAdd').hide();
                        }


                    }
                    else {
                        Swal.fire(data.Message, '', 'info')
                        $('#RegistationNo').focus();
                        $('#RegistationNo').val('');
                        //$('#continue').css("display", "none");
                        //$('#btnCapitalAdd').css("display","block");
                    }
                },
                error: function (d) {
                    console.log(d);
                    //$('#continue').css("display", "none");
                    //$('#btnCapitalAdd').css("display", "block");
                }
            });
        }
        function Countinue() {
            var urlS = GetglobalDomain() + "/Dashboard/DashboardUser"
            window.location.href = urlS;
        }
        function Back() {
            var url = GetglobalDomain() + "/DashBoard/WelcomeNoc"//
            window.location.href = url;

        }
    </script>
</body>
</html>
