@using NewZapures_V2.Models
@model AddCourseBO
@{
    ViewBag.Title = "Add Course";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<CustomMaster> TrustList = new List<CustomMaster>();
    if (ViewBag.TrustList != null)
    {
        TrustList = (List<CustomMaster>)ViewBag.TrustList;
    }

    List<Dropdown> DegreeList = new List<Dropdown>();
    if (ViewBag.Department != null)
    {
        DegreeList = (List<Dropdown>)ViewBag.Department;
    }

    List<CustomMaster> CourseList = new List<CustomMaster>();
    if (ViewBag.CourseList != null)
    {
        CourseList = (List<CustomMaster>)ViewBag.CourseList;
    }

    List<NewZapures_V2.Models.AddCourseBO> trustlist = ViewBag.AddCourseList as List<NewZapures_V2.Models.AddCourseBO>;
    var trustid = ViewBag.Trustid;

}
@section styles{  @*@Styles.Render("~/bundles/datatable");*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />*@
<link href="~/Content/NocCustomCss/StyleNoc.css" rel="stylesheet" />
@*<link href="~/Content/select2/css/select2.css" rel="stylesheet" />*@
@*<link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">*@

<link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/JitendraCSS/jquery-confirm.min.css" rel="stylesheet" />
<link href="~/Content/JitendraCSS/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/NewArchtech/jquery-confirm.min.css" rel="stylesheet" />
<style>
    .space {
        width: 8.666667%;
    }


    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .fsi {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsi h4 {
            color: white !important;
        }

    .fop {
        background: #B993D6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 12px;
    }

        .fop h4 {
            color: white !important;
        }

    .statuscss {
        padding: 3px;
        border-radius: 10px;
        border: solid;
        background: black;
        color: white;
    }
</style>
}



<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div class="float-right d-none">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>
                    @*<li class="breadcrumb-item">Master</li>*@
                    <li class="breadcrumb-item active">User Will Enter Course Against Enter College</li>
                </ol>
            </div>
            <h4 class="page-title w-75">(@SessionModel.TrustName)- (@SessionModel.TrustTypeName)-@ViewBag.Title</h4>
            <div class="w-25 text-right">
                <a href="~/Dashboard/DashboardUser" title="Back" value="Go back!" class="theme-button-mockup"><i class="fas fa-arrow-left"></i></a>

                <a href="~/Trustee/collegedetails" title="Next" class="theme-button-mockup"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>


<div class="row">
    <div class="col-12">
        <div class="card noc-layouts mt-0">
            <div class="card-header title-heading p-0">
                <h4 class="m-0 title-heading float-left">Add Course</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("SaveDetails", "AddCourse", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @*@Html.Hidden("Id", (object)ViewBag.Id)*@
                    <input type="hidden" id="Id" name="Id" value="0" />
                    <input type="hidden" id="TrustInfoId" name="TrustInfoId" value='@trustid' />
                    <div class="row">
                        <!--<div class="form-group col-lg-6" hidden>
                            <label for="example-text-input" class="col-sm-12 noc-form-label" style="margin-left:-10px">Trust Type</label>
                            <div class="is-empty  removehidde" id="collegetypedata">-->
                        @*<input class="form-control col-sm-12" type="text" name="TrustInfoId" id="TrustName" value="@SessionModel.TrustId @SessionModel.TrustName">*@
                        <!--<select class="form-control noc-input-text" name="TrustInfoId" id="TrustName">

                                    <option value="@SessionModel.TrustId" selected">@SessionModel.TrustName</option>

                                </select>
                            </div>
                            <div>
                                <label for="error" class="col-sm-12" id="errorTrustName" style="display:none;"></label>
                            </div>
                        </div>-->
                        <div class="form-group col-lg-3">
                            <label for="example-text-input" class="col-sm-12 noc-form-label" style="margin-left:-10px">Select Department</label>
                            <div>
                                <select class="form-control noc-input-text" name="TagDegrees" id="txtTagDegree" required>
                                    <option value="">Select Department</option>
                                    @{
                                        foreach (var item in DegreeList)
                                        {
                                            <option value="@item.Id">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div>
                                <label for="error" class="col-sm-12" id="errormss" style="display:none;"></label>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="example-text-input" class="col-sm-12 noc-form-label" style="margin-left:-10px">College</label>
                            <div>
                                <select class="form-control noc-input-text" id="IsdefaultCollegeId" name="iCollegeId" required>
                                    <option value="">Select College</option>
                                </select>
                            </div>
                            <div>
                                <label for="error" class="col-sm-12" id="errorCollege" style="display:none;"></label>
                            </div>
                        </div>


                        <div class="form-group col-lg-3">
                            <label for="example-text-input" class="col-sm-12 noc-form-label" style="margin-left:-10px">Add Course</label>

                            <div>
                                <select class="form-control noc-input-text" name="TagCourse" id="txtTagCourse" required>
                                    <option value="">Select Course</option>

                                </select>
                            </div>
                            <div>
                                <label for="error" class="col-sm-12" id="errorCourse" style="display:none;"></label>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="example-text-input" class="col-sm-12 noc-form-label" style="margin-left:-10px">Add Subject</label>

                            <div>
                                <select class="form-control noc-input-text singleselect" multiple name="TagSubject" id="TagSubject" required>
                                </select>
                            </div>
                            <div>
                                <label for="error" class="col-sm-12" id="errorSubject" style="display:none;"></label>
                            </div>
                        </div>

                        <div class="form-group col-lg-12" style="text-align: end;">
                            @*<label for="example-text-input" class="col-sm-12" style="margin-left:-10px">&nbsp;</label>*@
                            <button type="button" id="btnReset" style="background-color:burlywood;"><i class="fas fa-minus-circle"></i> Reset</button>
                            <button type="button" onclick="return CheckValidation()" id="btnSave" style="background-color:blue;color:whitesmoke;"><i class="fas fa-save"></i> Save</button>

                        </div>
                        <input id="myInputHidden" name="myInputName" type="hidden" value="" />
                        <input id="myInputHidden2" name="myInputName" type="hidden" value="" />
                    </div>
                    //tblncome
                    <div class="noc-layouts-tbl" id="refer">
                        <div class="form-group" style="overflow-x:auto;">
                            <table class="table table-striped table-bordered dt-responsive word-wrap" id="datatable-buttons ">
                                <thead class="">
                                    <tr>
                                        <th>Sr</th>
                                        <th hidden>Trust Name</th>
                                        <th>College Name</th>
                                        <th>Department</th>
                                        <th>Course</th>
                                        <th>Subject</th>
                                        <th>Status</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (trustlist != null)
                                    {
                                        int i = 1;
                                        foreach (var item in trustlist)
                                        {

                                            <tr>
                                                <td>@i</td>

                                                <td hidden>@item.TrustInfoId</td>
                                                <td>@item.iCollegeId</td>
                                                <td>@item.TagDegrees</td>
                                                <td id="@item.iFK_CourseId">@item.TagCourse</td>
                                                <td>@item.SubjectName</td>

                                                <td>
                                                    @{
                                                        if (item.Fk_StatusId == 1)
                                                        {
                                                            <span class="statuscss">Running Course</span>
                                                        }
                                                        if (item.Fk_StatusId == 3)
                                                        {
                                                            <span class="statuscss" style="background-color:aqua !important;color:black !important;">Apply Course</span>
                                                        }
                                                    }

                                                </td>

                                                <td class="d-flex" style="gap:2px;">
                                                    @{
                                                        if (item.Fk_StatusId == 3)
                                                        {
                                                            <a id="@item.iPk_AddCourseId" class="theme-edit-btn" title="Edit" onclick="EditCourse(@item.iPk_AddCourseId,@item.iFK_DeptId,@item.ClgId,@item.iFK_CourseId,'@item.Sublist');"><i class="fas fa-edit"></i></a>
                                                            <a id="@item.iPk_AddCourseId" class="theme-delete-btn" title="Delete" onclick="DeleteCourseDetails(@item.iPk_AddCourseId,'Get','NULL');"><i class="far fa-trash-alt"></i></a>

                                                        }
                                                        if (item.Fk_StatusId == 0 || item.Fk_StatusId == 2)
                                                        {
                                                            <a id="@item.iPk_AddCourseId" class="theme-delete-btn" title="ApplyStatus" onclick="OpenModel(@item.iPk_AddCourseId);"><i class="far fa-marker"></i> Apply Status</a>

                                                        }
                                                    }
                                                    @*<a id="@item.iFK_CourseId" class="Update" title="Subject" onclick="Subject(@item.iFK_CourseId,'Get','NULL');"><i class="fa-solid fa-book"></i></a>*@
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8" style="text-align: center;">No Data Available</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12" style="text-align:right">
                            <button type="submit" id="btnsubmitDetails" style="display:none"></button>

                        </div>
                    </div>
                    <div class="row w-100 m-0" style="margin-bottom:10px">
                        <div class="col-lg-12" style="text-align:right;padding-right:15px; margin:15px 0;">
                            <a href="@Url.Action("collegedetails", "Trustee")" class="theme-button-mockup" id="Reset">Proceed To Next</a>

                        </div>
                    </div>
                }
                <div class="loader-div">
                    <img class="loader-img" src="~/images/Stopwatch.gif" style="height: 120px;width: auto;" />

                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Status of Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <input type="hidden" id="changeid" value="0" />
                    <div class="form-group  is-empty ">

                        <div class="radio space" style="width: auto;">
                            <input type="radio" name="iMark" id="radio_1" value="3" checked>
                            <label for="radio_1" style="font-weight:bold;" class="col-sm-6" id="lable_3">
                                Apply As New Course
                            </label>
                        </div>
                        <div class="radio space" style="width: auto;">
                            <input type="radio" name="iMark" id="radio_2" value="1">
                            <label for="radio_2" style="font-weight:bold;" class="col-sm-6" id="lable_1">
                                Apply As Running
                            </label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="savechanges">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @*<script src="~/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="~/plugins/datatables/dataTables.bootstrap4.min.js" type="text/javascript"></script>
        <script src="~/plugins/datatables/dataTables.buttons.min.js" type="text/javascript"></script>
        <script src="~/plugins/datatables/buttons.bootstrap4.min.js" type="text/javascript"></script>*@
    <script src="~/plugins/datatables/jszip.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/jszip.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/pdfmake.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/vfs_fonts.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/buttons.html5.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/buttons.print.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/buttons.colVis.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/responsive.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/scripts/pages/jquery.datatable.init.js" type="text/javascript"></script>
    <script src="~/Content/NewArchtech/ConformjqueryABI.js"></script>
    <script src="~/Content/globalDomain.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#savechanges").click(function () {
                debugger;
                var Id = $("#changeid").val();
               
                var applyid = $('input:radio[name="iMark"]:checked').val();
             
                var data = $("#lable_" + applyid).html();
                $.confirm({

                    title: 'Apply Confirmation',
                    content: `Are you sure to ${data}`,
                    type: 'red',
                    typeAnimated: true,
                    animation: 'rotate',
                    closeAnimation: 'scale',
                    buttons: {
                        Confirm: {
                            text: 'YES',
                            btnClass: 'btn-red',
                            action: function () {



                                var Params = JSON.stringify({
                                    TableId: 'DEPTVSCURS_APPLY',
                                    Id: Id,
                                    type: applyid


                                });
                                /* ShowBALoader("LoaderBASinup1");*/
                                $.ajax({
                                    url: GetglobalDomain() + "/Role/ChangeStatus",
                                    type: 'POST',
                                    dataType: "json",
                                    data: Params,
                                    contentType: "application/json",
                                    success: function (response) {



                                        if (response.IsValid = 1) {
                                            Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: `Successfully ${applyid}`,
                                                showConfirmButton: false,
                                                timer: 3000
                                            })
                                           
                                        }
                                        $('#exampleModal').modal('hide');
                                        location.reload();
                                    },

                                });

                            }
                        },
                        close: {
                            text: 'NO',
                            action: function () { }
                        }
                    }
                });
            });
        $(".singleselect").select2();
        $('#txtTagDegree').change(function () {
            var id = $(this).val();
            bindCollege(id);
            bindCourse(id);
        })
        $("#IsdefaultCollegeId").change(function () {
            //var id = $(this).val();
            //if (id != null) {
            //    bindSubject(id);
            //}
            $('#TagSubject').html('');
        });
        var isuserExists = '@TempData["isSaved"]'
        var message = '@TempData["msg"]'
        if (isuserExists == 1 && message.length> 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: message,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,

                });
        }
        if (isuserExists == 0 && message.length> 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: message,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,
                });
        }
        if ('@SessionModel.TrustName' != null) {
            //GetTehsilList
            var selectedVal = $("#TrustName option:selected").val();
            if (selectedVal > 0) {
                AddCollegeData(selectedVal);
            }
        }
        $("#txtTagCourse").change(() => {


                bindSubject();

        });
        $("#btnReset").click(function () {
            $("#txtTagDegree").val('');
            $("#txtTagDegree").trigger('change');
            $("#IsdefaultCollegeId").val('');
            $("#IsdefaultCollegeId").trigger('change');
            $("#txtTagCourse").val('');
            $("#txtTagCourse").trigger('change');
            $("#Id").val('0');
        });

    });


        function bindCourse(deptID) {
            var html = `<option value="">Select Course</option>`;
            var VertinaryModal = {
                "departID": parseInt(deptID),
                "DataType":"Course"
            }

            var d = JSON.stringify(VertinaryModal);
            console.log(d);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/AddCourse/GetCourse",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(VertinaryModal),
                success: function (data) {
                    console.log('ajax');
                    console.log(data);
                    
                    var mainData = data.Data;
                    var id = $("#myInputHidden").val();
                    var text = $("#myInputHidden2").val();
                    mainData.forEach(function (item) {
                        $("#txtTagCourse").html("<option value = \"0\">Select Course</option>")
                        if (item.Id == id) {
                            html += `<option data-id=${item.ID1} value=${item.Id} selected>${item.Text}</option>`
                        }
                        else {
                            html += `<option data-id=${item.ID1} value=${item.Id}>${item.Text}</option>`
                        }

                    })

                    $('#txtTagCourse').html('');
                    $('#txtTagCourse').html(html);
                    $('#TagSubject').html('');


                },
                error: function (d) {
                    console.log(d);
                }
            });
        }
        function bindSubject() {
            $('#errorSubject').empty();
            var colId = $("#IsdefaultCollegeId").val();
            var couId = $("#txtTagCourse").val();
        var html = `<option value="">Select Subject</option>`;
        var VertinaryModal = {
            colId: parseInt(colId),
            couId: parseInt(couId),
            "DataType": "CourseList"
        }

        var d = JSON.stringify(VertinaryModal);
        console.log(d);
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: GetglobalDomain() + "/AddCourse/GetNewCourse",
            dataType: 'json',
            type: 'Post',
            cache: false,
            data: JSON.stringify(VertinaryModal),
            success: function (data) {
                console.log('ajax');
                console.log(data);

                var mainData = data.Data;
                //var id = $("#myInputHidden").val();
                //var text = $("#myInputHidden2").val();
                mainData.forEach(function (item) {
                    $("#TagSubject").html("<option value = \"0\">Select Course</option>")
                    //if (item.Id == id) {
                    //    html += `<option value=${item.Id} selected>${item.Text}</option>`
                    //}
                    //else {
                        html += `<option value=${item.Id}>${item.Text}</option>`
                   /* }*/


                })

                $('#TagSubject').html('');
                $('#TagSubject').html(html);

            },
            error: function (d) {
                console.log(d);
            }
        });
    }
        function bindCollege(Id) {

            var strHtml = "";
            strHtml += "<option value=''>Select College</option>";

        var Params = JSON.stringify(
            {
                Id: parseInt(Id),
                trustid:parseInt('@trustid')
            });

            $.ajax({
                url: GetglobalDomain() +"/AddCourse/GetCollegeDropDownList",
                type: 'POST',
                data: Params,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {

                    for (var i = 0; i < response.Data.length; i++) {
                        strHtml += "<option value='" + response.Data[i].Id + "'>" + response.Data[i].text + "</option>"
                    }
                    console.log("strHtml"+JSON.stringify("strHtml"));

                    $("#IsdefaultCollegeId").html(strHtml);
                    //$("#IsdefaultCollegeId").select2();
                    //$("#collegetypedata").removeClass('removehidden');
                }
            });
    }



        function CheckValidation() {

            var status = true;

            // var Bankname = $('#txtBankName').val().trim();


            //if (!$('#TrustName').val()) {
            //    //TagDegree.style.border = "1px solid red";
            //    $('label[for="error"]').show();
            //    errorTrustName.textContent = "Please Select Trust Type"
            //    errorTrustName.style.color = "red"
            //    TrustName.style.border = "1px solid red"
            //    $('#TrustName').focus();
            //    $('#TrustName').val('');
            //    status = false;
            //}
            //else
            //{
            //    $('#errorTrustName').remove();
            //    $("#TrustName").css({ 'border': '' });
            //}




            if (!$('#IsdefaultCollegeId').val()) {
                $('label[for="error"]').show();
                errorCollege.textContent = "Please Select College";
                errorCollege.style.color = "red";
                IsdefaultCollegeId.style.border = "1px solid red";
                $('#IsdefaultCollegeId').focus();
                $('#IsdefaultCollegeId').val('');
                status = false;

            }
            else {
                $('#errorCollege').remove();
                $("#IsdefaultCollegeId").css({ 'border': '' });
            }

            //if (!$('#txtTagDegree').val()) {
            //    $('label[for="error"]').show();
            //    errormss.textContent = "Please Select Department"
            //    errormss.style.color = "red"
            //    txtTagDegree.style.border = "1px solid red"
            //    $('#txtTagDegree').focus();
            //    $('#txtTagDegree').val('');
            //    status = false;
            //}
            //else {
            //    $('#errormss').remove();
            //    $("#txtTagDegree").css({ 'border': '' });
            //}



            var option = $("#txtTagCourse option:selected").html();

            if (option == "Select Course" || option == undefined) {
                $('#txtTagCourse').empty();
                $('label[for="error"]').show();
                errorCourse.textContent = "Please Select Course "
                errorCourse.style.color = "red"
                txtTagCourse.style.border = "1px solid red"
                $('#txtTagCourse').focus();
                $('#txtTagCourse').val('');
                status = false;
            }
            else {
                $('#errorCourse').remove();
                $("#txtTagCourse").css({ 'border': '' });
            }
            debugger
            var checkid = $("#txtTagCourse").find(':selected').attr("data-id")
            var subjectlist = $("#TagSubject").val();
            if (subjectlist != '') {

                var itemcount = subjectlist.length;
                if (checkid >= 1 && checkid <= 4 && itemcount < 3) {
                    $('#errorSubject').empty();
                    $('label[for="error"]').show();
                    errorSubject.textContent = "Please Select Three Subject "
                    errorSubject.style.color = "red"
                    TagSubject.style.border = "1px solid red"
                    $('#TagSubject').focus();

                    status = false;
                }
                else {
                    $('#errorSubject').remove();
                    $("#TagSubject").css({ 'border': '' });
                }
            }


            //if (TagDegree.length > 0) {
            //    //TagDegree.style.border = "1px solid red";
            //    $('label[for="error"]').show();
            //    errormss.textContent = "Please Select Department"
            //    errormss.style.color = "red"
            //    txtTagDegree.style.border = "1px solid red"
            //    //Swal.fire({
            //    //    position: 'center',
            //    //    icon: 'error',
            //    //    title: 'Tag Department Required...!',
            //    //    allowOutsideClick: false,
            //    //    showCloseButton: true,
            //    //    showConfirmButton: false
            //    //})
            //    $('#txtTagDegree').focus();
            //    $('#txtTagDegree').val('');
            //    status = false;
            // }
            //else if (TagCourse.length > 0) {
            //    $('label[for="error"]').show();
            //    errorCourse.textContent = "Please Select Course List"
            //    errorCourse.style.color = "red"
            //    txtTagCourse.style.border = "1px solid red"

            //     //Swal.fire({
            //     //    position: 'center',
            //     //    icon: 'error',
            //     //    title: 'Tag Course Required...!',
            //     //    allowOutsideClick: false,
            //     //    showCloseButton: true,
            //     //    showConfirmButton: false,
            //     //})
            //    $('#txtTagCourse').focus();
            //    $('#txtTagCourse').val('');
            //     status = false;
            // }

            if (status) {
                debugger;
                $('#btnsubmitDetails').click();
            }
        }

    function DeleteCourseDetails(iPk_AddCourseId) {
        debugger
        var Model = {
            //type: itemType,
            id: parseInt(iPk_AddCourseId),
            //sub: SubjectName
        }
        var d = JSON.stringify(Model);
        console.log(d);
        Swal.fire({
            title: 'Are You Delete Confirmation ?',
            showDenyButton: true, showCancelButton: false,
            confirmButtonText: 'Yes',
            denyButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: GetglobalDomain() + "/AddCourse/DeleteCour_Details",
                    dataType: 'json',
                    type: 'Post',
                    cache: false,
                    data: JSON.stringify(Model),
                    success: function (data) {

                        console.log('ajax');
                        console.log(data);
                        if (data.StatusCode == 1) {

                            $('#refer').load(' #refer')

                        }
                    },
                    error: function (d) {
                        console.log(d);
                        alert("404. Please wait until the File is Loaded.");

                    }
                });
            }
            else if (result.isDenied) {
                Swal.fire('Cancel', '', 'info')
                $('#continue').css("display", "none");
                $('#btnCapitalAdd').css("display", "block");
            }
        });
    }

    //function EditCourse(iPk_AddCourseId) {
    //    debugger
    //    $("#Id").val(iPk_AddCourseId);
    //    var Model = {
    //        //type: itemType,
    //        id: parseInt(iPk_AddCourseId),
    //        //sub: SubjectName
    //    }
    //    var d = JSON.stringify(Model);
    //    console.log(d);

    //    $.ajax({
    //        headers: {
    //            'Accept': 'application/json',
    //            'Content-Type': 'application/json'
    //        },
    //        url: GetglobalDomain() + "/AddCourse/GetEditDetails",
    //        dataType: 'json',
    //        type: 'Post',
    //        cache: false,
    //        data: JSON.stringify(Model),
    //        success: function (data) {

    //            console.log('ajax');
    //            console.log(data);
    //            if (data.StatusCode == 1) {
    //                var CourseId = data.Data[0].iFK_DeptId;

    //                var TrustInfoName = data.Data[0].TrustInfoId;
    //                var CollegeName = data.Data[0].iCollegeId;
    //                var Tag_Degrees = data.Data[0].TagDegrees;
    //                var Course = data.Data[0].iFK_CourseId;
    //                var Tag_Course = data.Data[0].TagCourse;
    //                debugger

    //                $('#TrustName').empty();
    //                $('#IsdefaultCollegeId').empty();
    //                $('#txtTagDegree').empty();
    //                $('#txtTagCourse').empty();
    //                $('#TrustName').append(`<option value="${CourseId}">
    //                                   ${TrustInfoName}
    //                              </option>`);
    //                $('#IsdefaultCollegeId').append(`<option value="${CourseId}">
    //                                   ${CollegeName}
    //                              </option>`);
    //                $('#txtTagDegree').append(`<option value="${CourseId}">
    //                                   ${Tag_Degrees}
    //                              </option>`);
    //                $('#txtTagCourse').append(`<option value="${Course}">
    //                                   ${Tag_Course}
    //                              </option>`);
    //                debugger
    //                var Course = $("#txtTagCourse").val();
    //                $("#myInputHidden").val(Course);

    //                var Tag_Course = $("#txtTagCourse").text();
    //                $("#myInputHidden2").val(Tag_Course);
    //                var id = $('#txtTagDegree').find(":selected").val();
    //                bindCourse(id);

    //            }
    //        },
    //        error: function (d) {
    //            console.log(d);
    //            alert("404. Please wait until the File is Loaded.");

    //        }
    //    });

    //}

    function Subject(iPk_AddCourseId) {

            $("#Id").val(iPk_AddCourseId);
            var Model = {
                //type: itemType,
                id: parseInt(iPk_AddCourseId),
                //sub: SubjectName
            }
            var d = JSON.stringify(Model);
            console.log(d);

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/AddCourse/GetSubjectetails",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(Model),
                success: function (data) {

                    console.log('ajax');
                    console.log(data);
                    if (data.StatusCode == 1) {

                        $.each(data.Data, function (i, item) {

                            $('#TagSubject').append($('<option>', {
                                value: item.Id,
                                text: item.text
                            }));
                        });

                    }
                },
                error: function (d) {
                    console.log(d);
                    alert("404. Please wait until the File is Loaded.");

                }
            });
        }


    function SubjectDetails(iPk_AddCourseId) {
        $("#Id").val(iPk_AddCourseId);
        var Model = {
            //type: itemType,
            id: parseInt(iPk_AddCourseId),
            //sub: SubjectName
        }
        var d = JSON.stringify(Model);
        console.log(d);
    }


    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^0-9]/gi, "");
    }
    function charecterOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^A-Za-z]/, "");
        }

        // This method write by abhishek .Purpose of this method bind selected subject at edit time Start
        function EditbindSubject(colId, couId, subjectlistdata) {
            debugger;
            var colId = colId;
            var couId = couId;

            var html = `<option value="">Select Subject</option>`;
            var VertinaryModal = {
                colId: parseInt(colId),
                couId: parseInt(couId),
                "DataType": "SubjectList",
                subjectlist: subjectlistdata
            }

            var d = JSON.stringify(VertinaryModal);
            console.log(d);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/AddCourse/GetNewCourse",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(VertinaryModal),
                success: function (data) {
                    console.log('ajax');
                    console.log(data);
                    debugger
                    var mainData = data.Data;
                    var id = $("#myInputHidden").val();
                    var text = $("#myInputHidden2").val();
                    var arr = [];
                    if (subjectlistdata != null) {
                        arr = subjectlistdata.split(',');

                    }
                    var i = arr.length;
                    mainData.forEach(function (item) {
                        $("#TagSubject").html("<option value = \"0\">Select Course</option>")
                      var found = false;
                        for (var j = 0; j < i; j++) {
                            if (arr[j] == item.Id) {
                                found = true;
                            }
                        }


                        //const found = arr.find(element => element = item.Id);
                        //console.log(found);
                        if (found) {
                            html += `<option value=${item.Id} selected>${item.Text}</option>`
                        }
                        else {
                            html += `<option value=${item.Id}>${item.Text}</option>`
                        }


                    })

                    $('#TagSubject').html('');
                    $('#TagSubject').html(html);

                },
                error: function (d) {
                    console.log(d);
                }
            });
        }
        //End
        function EditCourse(iPk_AddCourseId, DeptId, CollegeId, CourseId, SubjectId) {
            debugger;
 /*           $(".loader-div").css('display', 'block');*/
            $("#Id").val(iPk_AddCourseId);
            $("#txtTagDegree").val(DeptId);
            $("#txtTagDegree").trigger("change");
            debugger;
            setTimeout(() => {
                $("#IsdefaultCollegeId").val(CollegeId);
                $("#IsdefaultCollegeId").trigger("change");

            },700);
            setTimeout(() => {
             $("#txtTagCourse").val(CourseId);
            $("#txtTagCourse").trigger("change");

            },1400);
            setTimeout(() => {
                EditbindSubject(CollegeId, CourseId,SubjectId)

            }, 2200)

         /*   $(".loader-div").css('display', 'none');*/
      /*      $('#IsdefaultCollegeId option[value='+CollegeId+']).attr("selected", "selected");*/

            //$("#txtTagCourse").val(CourseId);
            //$("#txtTagCourse").trigger("change");
        }

        function OpenModel(iPk_AddCourseId) {
            $("#changeid").val(iPk_AddCourseId);
            
            $('#exampleModal').modal('show');
            $("input:radio[value='3']").prop('checked', true);
        }
    </script>


}
