@using NewZapures_V2.Models
@{
    ViewBag.Title = "Other Information";
    var sguid = ViewBag.AppGuid;
    List<CourserBind> lstother = new List<CourserBind>();
    if (ViewBag.lstother != null)
    {
        lstother = (List<CourserBind>)ViewBag.lstother;
    }
    var colId = ViewBag.ClgId;
    Layout = null;
}

@section styles {

    <link href="~/plugins/dropify/css/dropify.min.css" rel="stylesheet">
    <link href="~/Content/NocCustomCss/StyleNoc.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2.css" rel="stylesheet" />
}
<style type="text/css">
  /*  input[type=file]::file-selector-button {
        background-color: aqua;
        border: 1px solid;
        border-radius: 4px;
    }

        input[type=file]::file-selector-button:hover {
            background-color: burlywood;
            border: 1px solid;
            border-radius: 4px;
        }*/

    input:focus {
        border: 1px solid red !important;
        background-color: antiquewhite !important;
    }

    .Deleteclass {
        cursor: pointer;
    }

    .dropify-wrapper {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 138px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 22px;
        color: #777;
        background-color: #FFF;
        background-image: none;
        text-align: center;
        border: 2px solid #E5E5E5;
        -webkit-transition: border-color .15s linear;
        transition: border-color .15s linear;
    }
    /*
    .table thead {
        background-color: #646d91 !important;
    }

    .table th {
        color: #ffffff !important;
    }*/

    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .fsi {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsi h4 {
            color: white !important;
        }

    .fop {
        background: #B993D6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 12px;
    }

        .fop h4 {
            color: white !important;
        }
        .hidden{
            display:none;
        }
</style>
<div class="row d-none">
    <div class="col-sm-12">
        <div class="page-title-box">
            @*<div class="float-right">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">NOC</li>
                        <li class="breadcrumb-item">Master</li>
                        <li class="breadcrumb-item active">Collage Facility</li>
                    </ol>
                </div>*@
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<div class="card noc-layouts m-0">
    <div class="card-header title-heading p-0 row">
        <h4 class="m-0 title-heading col-sm-12 float-left">@ViewBag.Title  <a id="info"  title="Show Old Information"  style="float:right;cursor:pointer;" onclick="OpenModel();"> Show Data</a></h4>
      
            @*<div class="form-group" style="text-align:right">
                <a href="@Url.Action("EditApplication","Trustee",new {Guid=SessionModel.ApplicantGuid })" style="font-size: 15px ; color: white;  font-family: 'Ubuntu', sans-serif;" class="btn btn-gradient-successnav-link btn btn-success">Back</a>
            </div>*@
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">

                        <div class=" is-empty row">
                            <div class="col-sm-3 form-group">

                                <select class="singleselect form-control noc-input-text" id="CourseId" name="CourseId" required>
                                    <option value="" data-Roomlength="0" data-Roomwidth="0" data-RoomNo="0">Select Other</option>
                                    @{
                                        foreach (var item in lstother)
                                        {
                                            <option value="@item.Id" data-RoomNo="@item.RoomNo" data-Roomlength="@item.Roomlength" data-Roomwidth="@item.Roomwidth">@item.text</option>
                                        }


                                    }
                                </select>
                            </div>
                            <div class="col-lg-2 form-group" id="widthdiv">

                                <input name="sWidth" id="Width" type="number" value="" min="0" class="form-control noc-input-text" placeholder="Enter Width">
                                <span id="width_error"></span>
                            </div>
                            <div class="col-lg-2 form-group" id="lengthdiv">

                                <input name="slength" id="length" type="number" value="" min="0" placeholder="Enter length" class="form-control noc-input-text">
                                <span id="length_error"></span>
                            </div>
                            <div class="col-sm-2 hidden" id="otherdiv">

                                <input type="number" class="form-control" name="dtQty" min="0" placeholder="Enter Qty" value="" id="Qty" />
                                <span id="Qty_error"></span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <div class="form-group col-lg-12" id="filediv" style="height: 10px;">
                                    @*<label for="files-@item.iParCatId-@inneritem.iParCatSubId-@thirditem.iParUomid" class="btn">Upload Image</label>*@
                                    <input type="file" id="file" name="files" onchange="return encodeImageFileAsURL(this)" data-input="true" data-buttonname="btn btn-info" data-iconname="fa fa-upload mr" class="form-control noc-input-upload filestyle" />

                                    <input type="hidden" id="filedata" style="border: 0px solid #e8ebf3 ;" name="filedata" data-input="true" data-buttonname="btn btn-info" data-iconname="fa fa-upload mr" class="form-control filestyle" />
                                    <input type="hidden" id="sProfileExtension" value="">
                                </div>
                            </div>
                            <div class="pull-right col-lg-2" style="text-align: end;">

                                <button class="theme-discard-btn" id="reset"><i class="fas fa-sync-alt"></i> Reset</button>
                                <button class="theme-button-mockup" id="save"><i class="fas fa-save"></i> Save </button>
                            </div>
                        </div>
                        <div class="loader-div">
                            <img class="loader-img" src="~/images/Stopwatch.gif" style="height: 120px;width: auto;" />
                        </div>
                        <div class="row noc-layouts-tbl p-0 m-0">
                            <div class="form-group col-lg-12" style="overflow-x:auto;">
                                <table class="table table-borderless table-striped table-hover" id="tblFacility">
                                    <thead class="dark">
                                        <tr>
                                            <th>#No</th>
                                            <th>Name</th>
                                            <th>Width</th>
                                            <th>length</th>

                                            <th>Qty</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="pull-right" style="text-align: end;">
                            <button class="theme-button-mockup" id="Final"><i class="fas fa-save"></i> Save & Next</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Old information of Other Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row noc-layouts-tbl p-0 m-0">
                    <div class="form-group col-lg-12" style="overflow-x:auto;">
                        <table class="table table-borderless table-striped table-hover" id="tblFacility">
                            <thead class="dark">
                                <tr>
                                    <th>#No</th>
                                    <th>Name</th>
                                    <th>Vlaue</th>
                                   
                                </tr>
                            </thead>
                            <tbody id="oldtbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="savechanges">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Content/jquery/jquery.js"></script>
    <script src="~/Content/select2/js/select2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
    <script src="~/Content/globalDomain.js"></script>
}
<script type="text/javascript">
    $(".singleselect").select2();
    var conditionloop = [];

    $("#CourseId option").each(function (index, value) {
        if (index > 0) {
            conditionloop.push({
                id: $(this).val(),
                Text: $(this).text(),
                RoomNo: $(this).attr("data-RoomNo"),
                Roomlength: $(this).attr("data-Roomlength"),
                Roomwidth: $(this).attr("data-Roomwidth"),
                RoomCapacity: 0
            });
        }

    });
    console.log(conditionloop);
    var array = [];
    function Reset() {
        $("#Width").val('');
        $("#length").val('');
        $("#Qty").val('');
        $("#filedata").val('');
        $("#file").val('');
        $("#sProfileExtension").val('');
        $("#CourseId").val('').trigger('change');

        @* FillCourse('@sguid');*@
    }
    function e1() {
        var u = '', i = 0;
        while (i++ < 36) {
            var c = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'[i - 1], r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            u += (c == '-' || c == '4') ? c : v.toString(16)
        }
        return u;
    }
    $("#CourseId").change(function () {
        debugger;
        var RoomNo = $(this).find(':selected').attr('data-RoomNo');
        $("#otherdiv").addClass('hidden');
        $("#widthdiv").removeClass('hidden');
        $("#lengthdiv").removeClass('hidden');
        $("#Qty").attr('required', false)

        $("#Qty").attr({
            "min": 0
        });
        $("#Qty_error").text('');
        $("#Width").attr('required', false)
        $("#length").attr('required', false)
        $("#width_error").text('');
        $("#length_error").text('');
     /*   $("#Qty_error").text('');*/
        let dataval = $(this).val();
        let Roomlength = $(this).find(':selected').attr("data-Roomlength");
        let Roomwidth = $(this).find(':selected').attr("data-Roomwidth");
        if (RoomNo >= 1 && Roomlength <= 0 && Roomwidth <= 0) {
            $("#Qty").attr('required', true);
            $("#widthdiv").addClass('hidden');
            $("#lengthdiv").addClass('hidden');
            $("#otherdiv").removeClass('hidden');
            $("#Qty").attr({
                "min": RoomNo
            });
            var RoomNotext = $(this).find(':selected').text();
            $("#Qty").attr("placeholder",'Enter '+RoomNotext);
            $("#Qty_error").text(`Please Enter ${RoomNotext} More than or Equal than ${RoomNo}`).css('color', '');
        }

    /*    let RoomCapacity = $(this).find(':selected').attr("data-RoomCapacity");*/
        if (dataval != "") {
            $("#Width").attr({
                "min": Roomwidth
            });
            $("#length").attr({
                "min": Roomlength
            });
            //$("#Qty").attr({
            //    "max": RoomCapacity
            //});
            $("#width_error").text(`Please Enter Width More than or Equal than ${Roomwidth}'`).css('color', '');
            $("#length_error").text(`Please Enter Length More than or Equal than ${Roomlength}`).css('color', '');
           /* $("#Qty_error").text(`Please Enter Capacity less than or Equal than ${RoomCapacity}`).css('color', '');*/
        }
        else {
            $("#Width").attr({
                "min": 0
            });
            $("#length").attr({
                "min": 0
            });
            //$("#Qty").attr({
            //    "max": 0
            //});
        }
        /*        Reset();*/
    });
    function encodeImageFileAsURL(element) {

        var imagebase64 = "";
        var file = element.files[0];
        var name = file.name;
        var extension = "";
        if (name != null) {
            var data = name.split('.');
            var len = data.length;
            extension = data[len - 1];

        }
        //var ID = element.id.split('_');
        //var elementID = ID[1];
        var reader = new FileReader();
        reader.onloadend = function () {
            console.log('RESULT', reader.result)
            imagebase64 = reader.result;
            console.log('converted');
            console.log(imagebase64)
            $("#filedata").val(imagebase64);
            $("#sProfileExtension").val(extension);
        }

        reader.readAsDataURL(file);
        return
    }
     FillTable('@sguid')
    $("#save").click(() => {
        debugger;
        $(".loader-div").css('display', 'block');
        var tabletr = '';
        var course = $("#CourseId").val();
        var coursetext = $("#CourseId option:selected").text();;
        let Roomlength = $("#CourseId").find(':selected').attr("data-Roomlength");
        let Roomwidth = $("#CourseId").find(':selected').attr("data-Roomwidth");
        let RoomCapacity = $("#CourseId").find(':selected').attr("data-RoomNo");
        let filedata= $("#filedata").val();
        let sProfileExtension= $("#sProfileExtension").val();
        var Width = $("#Width").val();
        var length = $("#length").val();
        var Qty = $("#Qty").val() == "" ? '0' : $("#Qty").val();
        if (parseInt(Roomwidth) > parseInt(Width)) {
            var widtherror = `Please Enter Width More than or Equal to ${Roomwidth}`;
            $("#width_error").text(widtherror).css('color', 'red');
            $("#Width").focus();
            $(".loader-div").css('display', 'none');
            return false;
        }
        if (parseInt(Roomlength) > parseInt(length)) {
            var lenerror = `Please Enter Length More than or Equal to ${Roomlength}`;
            $("#length_error").text(lenerror).css('color', 'red');
            $("#length").focus();
            $(".loader-div").css('display', 'none');
            return false;
        }
        if (parseInt(RoomCapacity) > parseInt(Qty)) {
            //var placeholder = $("#Qty").placeholder();
            //var qtyerror = `Please Enter ${placeholder} less than or Equal to ${RoomCapacity}`;
            $("#Qty_error").css('color', 'red');
            $("#Qty").focus();
            $(".loader-div").css('display', 'none');
            return false;
        }
        var Guid = e1();
        array.push({
            Guid:'@sguid',
            courseId: course,
            coursetext: coursetext,
            Width: Width,
            length: length,
            Qty: parseInt(Qty),
            sGuidid: Guid,
            iStts: 0,
            filedata: filedata,
            sProfileExtension: sProfileExtension,
            Type: 2
        });
        var countitem = array.length;
        let rowno = 0
        for (var item = 0; item <= countitem - 1; item++) {

            //var iFK_FrmID = array[item].iFK_FrmID;
            //$("#ddlNOCDetails #Form-" + iFK_FrmID).addClass('hidden');
            var Ids = array[item].sGuidid;

            var coursetext = array[item].coursetext;
            var Width = array[item].Width;
            var length = array[item].length;
            var Qty = array[item].Qty;
            var stts = array[item].iStts;
            if (stts != 2) {
              if (array[item].filedata.length > 0) {
                    rowno++;
                  tabletr += `<tr Id="tr-${Ids}"><td>${item + 1}</td><td> <img src="${array[item].filedata}" alt="profile-user" class="rounded-circle" width="50" height="50" /> ${coursetext}</td><td>${Width}</td><td>${length}</td><td>${Qty}</td>
                    <td> <a  class="Deleteclass" onclick="DeleteDataCheck('${Ids}')"  title="Delete"><i class="fas fa-times text-danger font-16"></i></a></td></tr>`;
                }
                else {
                    rowno++;
                  tabletr += `<tr Id="tr-${Ids}"><td>${item + 1}</td><td>${coursetext}</td><td>${Width}</td><td>${length}</td><td>${Qty}</td>
                    <td> <a  class="Deleteclass" onclick="DeleteDataCheck('${Ids}')"  title="Delete"><i class="fas fa-times text-danger font-16"></i></a></td></tr>`;
                }
            }
        }

        $("#tbody").html(tabletr);
        $(".loader-div").css('display', 'none');
        console.log(array);
        Reset();
    });
    $("#reset").click(function () {
        Reset();
    });
    $("#Final").click(function () {
        debugger;

        var countarr = array.length;
        if (countarr == 0) {
            alert("please Insert some information,Information is Empty;")
            return false;
        }
        var countitem2 = array.length;
        var loop2 = conditionloop.length;
        for (var i = 0; i < loop2; i++) {
            var roomcount = conditionloop[i].RoomNo;
            var entercount = 0;
            var courseid = conditionloop[i].id;
            var coursename = conditionloop[i].Text;
            for (var j = 0; j < countitem2; j++) {
                if (courseid == array[j].courseId && array[j].iStts != 2) {
                    entercount++;
                }
            }
            if (entercount == 0) {
                alert(`Please Enter ${coursename}`);
                return false;
            }
            //if (roomcount - entercount > 0) {
            //    alert(`Please Enter ${roomcount} Class Room of ${coursename} but You Enter Only ${entercount}`);
            //    return false;
            //}
        }

        var Params = JSON.stringify({
            datalist: array
        });
        $(".loader-div").css('display', 'block');
        $.ajax({
            url: GetglobalDomain() + "/Trustee/InsertArchitechDetaile",
            type: 'POST',
            dataType: "json",
            data: Params,
            contentType: "application/json",
            enctype: 'multipart/form-data',
            success: function (response) {
                if (response.isvalid == 1) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Record Save Successfully',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    $('#btn_Building').click();
                    $(".loader-div").css('display', 'none');

                }

            }


        });
    });
    function FillTable(ApplicationId) {

        var NOCReq = {
            "AppGuid": ApplicationId,
            "Type": 2
        }

        var d = JSON.stringify(NOCReq);
        console.log(d);
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: GetglobalDomain() + "/Trustee/BindTable",
            dataType: 'json',
            type: 'Post',
            cache: false,
            data: JSON.stringify(NOCReq),
            success: function (data) {
                
                if (data.isvalid == 1) {
                    var tabletr1 = '';
                    var ArchData = data.Data;
                    var i = 0
                    if (ArchData.length > 0) {
                        $("#btn_Other").css({ "background": "rgb(13, 148, 13)", "color": "#fff" });
                    }
                    else {
                        $("#btn_Other").css({ "background": "rgb(189, 0, 0)", "color": "#fff" });
                    }
                    ArchData.forEach(function (item) {
                        array.push(item);
                        if (item.filedata.length > 0) {
                            tabletr1 += `<tr Id="tr-${item.sGuidid}"><td>${i + 1}</td><td> <img src="${item.filedata}" alt="profile-user" class="rounded-circle" width="50" height="50" /> ${item.coursetext}</td><td>${item.Width}</td><td>${item.length}</td><td>${item.Qty}</td>
<td> <a  class="Deleteclass" onclick="DeleteDataCheck('${item.sGuidid}')"  title="Delete"><i class="fas fa-times text-danger font-16"></i></a></td>
</tr>`;
                            i++;
                        }
                        else {
                            tabletr1 += `<tr Id="tr-${item.sGuidid}"><td>${i + 1}</td><td>${item.coursetext}</td><td>${item.Width}</td><td>${item.length}</td><td>${item.Qty}</td>
<td> <a  class="Deleteclass" onclick="DeleteDataCheck('${item.sGuidid}')"  title="Delete"><i class="fas fa-times text-danger font-16"></i></a></td>
</tr>`;
                            i++;
                        }
                    });
                    $("#tbody").html(tabletr1);
                    console.clear();
                    console.table(array);
                }

            },
            error: function (d) {
                console.log(d);
            }
        });
    }
    function DeleteDataCheck(insertid) {

        var tabletr1 = '';
        var countitem = array.length-1;
        for (var item = 0; item <= countitem; item++) {
            debugger;
            var obj = array[item];
            var Ids = array[item].sGuidid;
            var stts = array[item].iStts;
            if (Ids == insertid) {
                if (stts == 0) {
                    array.splice(item, 1);
                }
                else {
                    $('#tr-' + Ids).remove();
                    array[item].iStts = 2;
                }
                break;

            }
        }
        var countitem2 = array.length - 1;
        let rowno = 0
        for (var item = 0; item <= countitem2; item++) {

            //var iFK_FrmID = array[item].iFK_FrmID;
            //$("#ddlNOCDetails #Form-" + iFK_FrmID).addClass('hidden');
            var Ids = array[item].sGuidid;

            var coursetext = array[item].coursetext;
            var Width = array[item].Width;
            var length = array[item].length;
            var Qty = array[item].Qty;
            var imgfile = array[item].filedata;
            var iSttsdata = array[item].iStts;
            if (iSttsdata != 2) {
                rowno++;
                tabletr1 += `<tr Id="tr-${Ids}"><td>${item + 1}</td><td><img src="${imgfile}" alt="profile-user" class="rounded-circle" width="50" height="50" />${coursetext}</td><td>${Width}</td><td>${length}</td><td>${Qty}</td>
<td> <a  class="Deleteclass" onclick="DeleteDataCheck('${Ids}')"  title="Delete"><i class="fas fa-times text-danger font-16"></i></a></td>
</tr>`;
            }

        }
        $("#tbody").html(tabletr1);
        Reset();
    }

    function OpenModel() {
       
        var VertinaryModal = {
            clgID: parseInt('@colId'),
            "type": "Other"
           
        }

        var d = JSON.stringify(VertinaryModal);
        console.log(d);
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: GetglobalDomain() + "/Trustee/GetOldData",
            dataType: 'json',
            type: 'Post',
            cache: false,
            data: JSON.stringify(VertinaryModal),
            success: function (data) {
                debugger;
                var trolddata = '';
                var i = 1;
                console.log(data);
             
                var mainData = data.Data;
              
                mainData.forEach(function (item) {
                    trolddata += `<tr><td>${i}</td><td>${item.Id}</td><td>${item.Text}</td>`
                    i++;
                })
                $("#oldtbody").html(trolddata);
            },
            error: function (d) {
                console.log(d);
            }
        });

        $('#exampleModal').modal('show');
        
    }
</script>